.footer
    background-color: #191919
    padding-bottom: 52px
    &-map
        height: 418px
        margin-bottom: 57px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        color: #fff
    &__adress
        position: relative
        margin-left: 33px
        &:before
            content: ''
            position: absolute
            left: -33px
            top: 8px
            width: 14px
            height: 18px
            background: url('../img/footer/placeholder.png') no-repeat center center
    &__txt
        color: #fff
    &__text
        display: block
        font-size: 13px
    &__call
        text-align: right
        margin-right: 7px
    &__phone
        position: relative
        display: block
        color: #fff
        font-size: 17px
        margin-bottom: -3px
        margin-top: -8px
        +bold
        &:after
            content: ''
            bottom: 0
            right: 0
            width: 0
            transition: 0.5s
        &:hover
            &:after
                content: ''
                position: absolute
                bottom: 0
                right: 0
                width: 80%
                height: 2px
                background-color: #fff
                transition: 0.5s
    &__feedback
        display: block
        color: $main-color
        font-size: 13px
        text-decoration: underline
        margin-top: 10px

@media (max-width: 1200px)
    .footer
        &__phone
            font-size: 15px
        &__feedback
            font-size: 12px
        &__text 
            font-size: 12px
@media (max-width: 576px) and (min-width: 320px)
    .footer
        &__adress
            margin-left: 20px
            &:before
                left: -20px
                top: 4px
                height: 16px
                background-size: auto 100%
        &__text
            font-size: 10px
        &__phone
            font-size: 11px
        &__feedback
            font-size: 9px