.navbar
    display: flex
    justify-content: space-between
    align-items: center
    &__menu
        list-style: none
    &__item
        display: inline-block
    &__contacts
        display: flex
        flex-direction: column