.projects
    background-color: #f6f6f6
    +reg
    padding-top: 56px
    padding-bottom: 100px
    &__title
        width: 425px
        padding-right: 11px
        margin-left: auto
        margin-right: auto
        font-size: 36px
        text-align: center
        position: relative
        &:after
            content: ''
            position: absolute
            bottom: -26px
            left: 194px
            width: 31px
            height: 2px
            background-color: $main-color
    &__subtitle
        font-size: 20px
        margin-top: 62px
        text-align: center
    &__slider
        &-wrapper
            position: relative
.slider
    &__item
        width: 902px
        display: flex
        justify-content: space-between
        margin-top: 78px
        margin-left: auto
        margin-right: auto
    &__image
        margin-left: -4px
    &__text
        margin-right: 5px
        +reg
    &__title
        font-size: 24px
        margin-top: -3px
    &__des
        display: block
        font-size: 12px
        margin-top: 47px
    &__description
        margin-top: 10px
    &__button
        width: 216px
        background-color: #23bac1
        padding-top: 23px
        padding-bottom: 21px
        font-size: 13px
        text-transform: uppercase
        +semi
        color: #fff
        letter-spacing: 0.38px
        outline: none
        border: none
        margin-top: 62px
        margin-left: -2px
.composition
    display: flex
    margin-top: 55px
    &__scale,
    &__size,
    &__date
        display: flex
        flex-direction: column
        &-name
            font-size: 12px
            margin-bottom: 10px
        &-value
            font-size: 16px
    &__scale
        margin-right: 88px
    &__size
        margin-right: 73px
.name,
.value
    display: inline-block
.arrows
    &__left
        position: absolute
        top: 235px
        left: -3px
    &__right
        position: absolute
        top: 235px
        right: 7px
.slick-initialized .slick-slide
    display: flex
    justify-content: space-around
    padding-left: 92px
    padding-right: 91px

@media (max-width: 1200px)
    .projects
        padding-top: 25px
        padding-bottom: 50px
        &__title
            font-size: 30px
            padding-right: 0
        &__subtitle
            font-size: 18px
            margin-top: 46px
    .slider
        &__item
        &__img
            width: 100%
        &__image
            width: 300px
            margin-left: 0
        &__text
            margin-right: 0
        &__title
            font-size: 22px
            margin-bottom: 1px
        &__des  
            font-size: 11px
            margin-top: 20px
        &__description
            font-size: 15px
        &__button   
            width: 190px
            padding-top: 16px
            padding-bottom: 16px
            font-size: 12px
            margin-top: 45px
    .composition
        margin-top: 30px
    .name
        font-size: 12px
    .value
        font-size: 14px
    .arrows
        &__left
            top: 196px
        &__right
            top: 196px
        
    .slick-initialized .slick-slide
        align-items: center
        padding-left: 0
        padding-right: 0