@charset "UTF-8";
/* ПОДКЛЮЧАЙ СНАЧАЛА ВСЕ ФАЙЛЫ ДЛЯ СТИЛИЗАЦИИ
    ЗАТЕМ INTERFACE, ЗАТЕМ СЕКЦИИ САЙТА!!! */
/* подключаем normalize */
/* подключаем цвета */
/* подключаем медиа-запросы */
@media (max-width: 1200px) {
  .container {
    max-width: 85%;
  }
}

/* подключаем шрифты */
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova SemiBold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* подключаем общие стили */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1171px;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* подключаем стили navbar */
.section-navbar {
  background-color: #fff;
  opacity: 0.9;
}

.navbar {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu {
  list-style: none;
  padding-left: 0;
}

.navbar__menu_tablet {
  display: none;
}

.navbar__item {
  position: relative;
  display: inline-block;
  margin-right: 33px;
  font-size: 14px;
  font-family: 'Proxima Nova Rg', sans-serif;
  text-decoration: underline;
}

.navbar__contacts {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
}

.navbar__phone {
  font-size: 17px;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.navbar__feedback {
  color: #22bac1;
  font-size: 14px;
  font-family: 'Proxima Nova Rg', sans-serif;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .navbar__item {
    font-size: 12px;
    margin-right: 15px;
  }
  .navbar__phone {
    font-size: 15px;
  }
  .navbar__feedback {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .navbar {
    position: relative;
  }
  .navbar__phone {
    display: none;
  }
}

/* стили главного экрана */
.main {
  background: #000 url("../img/main/main-bg.png");
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 81px;
}

.main__text {
  color: #fff;
  font-family: 'Proxima Nova Rg', sans-serif;
  margin-left: -3px;
  font-weight: normal;
}

.main__title {
  width: 510px;
  font-size: 48px;
  line-height: 60px;
  margin-top: 113px;
}

.main__subtitle {
  display: block;
  font-size: 20px;
  margin-bottom: 59px;
}

.main__list {
  list-style: none;
}

.main__item {
  position: relative;
  margin-left: 21px;
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 15px;
  width: 150px;
  letter-spacing: 0.1pt;
}

.main__item:before {
  content: '5';
  position: absolute;
  left: -59px;
  top: 0;
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.main__item:nth-child(2):before {
  content: '24';
  line-height: 35px;
  text-align: center;
}

.main__item:nth-child(3) {
  width: 215px;
  margin-bottom: 23px;
}

.main__item:nth-child(3):before {
  content: '';
  background: url("../img/main/reload.png") no-repeat center center;
}

.main__item:nth-child(4) {
  width: 165px;
}

.main__item:nth-child(4):before {
  content: '';
  left: -61px;
  background: url("../img/main/map-location.png") no-repeat center center;
}

.main__form {
  background-color: #fff;
  width: 370px;
  margin-top: 126px;
  margin-bottom: 20px;
  margin-right: 4px;
  text-align: center;
  font-family: 'Proxima Nova Rg', sans-serif;
}

.main__form-bolder {
  font-weight: bold;
}

.main__form-title {
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
  border: 1px solid #e8e8e8;
  margin-bottom: 15px;
}

.input:nth-child(3) {
  margin-bottom: 21px;
}

.button {
  background-color: #23bac1;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Proxima Nova SemiBold', sans-serif;
  color: #fff;
  letter-spacing: 0.38px;
  outline: none;
  border: none;
}

/* подключаем стили layouts */
.layouts {
  font-family: 'Proxima Nova Rg', sans-serif;
}

.layouts__title {
  width: 240px;
  position: relative;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
}

.layouts__title:after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 100px;
  width: 31px;
  height: 2px;
  background-color: #22bac1;
}

.layouts__subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  margin-left: -7px;
  margin-bottom: 76px;
}

.layouts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.layouts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  text-align: center;
  padding-right: 7px;
  padding-bottom: 38px;
  margin-right: 30px;
  margin-bottom: 35px;
}

.layouts__item:nth-child(2) .layouts__button {
  margin-top: 35px;
}

.layouts__item:nth-child(5) .layouts__item-title {
  margin-left: 34px;
  margin-top: 27px;
}

.layouts__item:nth-child(5) .layouts__button {
  margin-top: 35px;
}

.layouts__item:nth-child(6) .layouts__button {
  margin-top: 154px;
}

.layouts__item:nth-child(3n) {
  margin-right: 0;
}

.layouts__item-title {
  font-size: 20px;
  margin-bottom: 24px;
}

.layouts__item-text {
  width: 236px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.layouts__image {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.layouts__list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 13px;
}

.layouts__list-item {
  position: relative;
  margin-bottom: 15px;
}

.layouts__list-item:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 176px;
  width: 9px;
  height: 2px;
  background-color: #22bac1;
}

.layouts__list-item:last-child:after {
  height: 0;
}

.layouts__button {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  padding-top: 19px;
  padding-bottom: 18px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Proxima Nova SemiBold', sans-serif;
  letter-spacing: 0.38px;
  outline: none;
  border: 1px solid rgba(173, 173, 173, 0.2);
  background-color: #fff;
  letter-spacing: 0.6px;
  padding-left: 10px;
}

/* подключаем стили projects */
.projects {
  background-color: #f6f6f6;
  font-family: 'Proxima Nova Rg', sans-serif;
  padding-top: 56px;
}

.projects__title {
  width: 425px;
  padding-right: 11px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  text-align: center;
  position: relative;
}

.projects__title:after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 194px;
  width: 31px;
  height: 2px;
  background-color: #22bac1;
}

.projects__subtitle {
  font-size: 20px;
  margin-top: 62px;
  text-align: center;
}

.slider {
  position: relative;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 97px;
}

.slider__image {
  margin-left: 90px;
}

.slider__text {
  font-family: 'Proxima Nova Rg', sans-serif;
  margin-right: 96px;
}

.slider__title {
  font-size: 24px;
  margin-top: -3px;
}

.slider__des {
  display: block;
  font-size: 12px;
  margin-top: 47px;
}

.slider__description {
  margin-top: 10px;
}

.slider__button {
  width: 216px;
  background-color: #23bac1;
  padding-top: 23px;
  padding-bottom: 21px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Proxima Nova SemiBold', sans-serif;
  color: #fff;
  letter-spacing: 0.38px;
  outline: none;
  border: none;
  margin-top: 62px;
  margin-left: -2px;
}

.composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

.composition__scale, .composition__size, .composition__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.composition__scale-name, .composition__size-name, .composition__date-name {
  font-size: 12px;
  margin-bottom: 10px;
}

.composition__scale-value, .composition__size-value, .composition__date-value {
  font-size: 16px;
}

.composition__scale {
  margin-right: 88px;
}

.composition__size {
  margin-right: 73px;
}

.name,
.value {
  display: inline-block;
}

.arrows__left {
  position: absolute;
  top: 157px;
  left: 0;
}

.arrows__right {
  position: absolute;
  top: 157px;
  right: 4px;
}
/*# sourceMappingURL=style.css.map */